body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* shared common style */
.common_button {
    color: #FFF;
    font-family: Lato;
    border-radius: 10px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    font-size: 20px;
}

.header_container {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
}

.header_left {
    margin-top: 80px;
    margin-left: 80px;
}

.header_left h2 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 510px;
    height: 210px;
}

.header_left p {
    margin-top: 32px;
    width: 600px;

}

.header_right img {
    width: 410px;
    height: 550px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: -4px;
}

.main_section {
    /* width: 400px; */
    margin: 0 auto;
    margin-top: 80px;
}

.main_header h3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;


}

.main_header p {

    text-align: center;
    font-size: 18px;
    width: 600px;
    margin: 15px auto;

}

.main_flower {
    display: flex;
    justify-content: space-around;


}

.flower_1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 380px;

}

.flower_1 img {
    width: 280px;
    height: 380px;
}

.flower_1 p {
    color: #272727;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    text-decoration-line: underline;
}

.flower_2 {
    border-radius: 300px 300px 0px 0px;
    background: #0597A026;
    height: 380px;
}

.flower_2 img {
    width: 280;
    height: 380px;

}

.flower_2 p {
    color: #272727;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    text-decoration-line: underline;
}

.flower_3 {
    border-radius: 300px 300px 0px 0px;
    background: #477D1126;
    height: 380px;
}

.flower_3 img {
    width: 280;
    height: 380px;
}

.flower_3 p {
    color: #272727;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    text-decoration-line: underline;
}

.support_section {
    justify-content: space-around;
    background-color: #2727270D;
    width: 1174px;
    display: flex;
    margin: 130px auto;
}

.support_section p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
}

.support1{
    align-items: center;
    justify-content: center;

}
.support1 p{
    margin-bottom: 80px;
}
.support1 img{
    margin-top:86px;
    height: 88px;
    width: 88px;
}
.support2 p{
    margin-bottom: 80px;
}
.support2 img{
    margin-top:86px;
    height: 88px;
    width: 88px;
}

.support3 p{
margin-bottom: 80px;    

}
.support3 img{
    margin-top:86px;
    height: 88px;
    width: 88px;
}

#discount_section {
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05);
    height: 530px;
}

.discount_text{
    width: 550px;
    text-align: center;
    margin-top: 100px;
    
}

#discount_section .discount_text>h3{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#discount_section>.discount_img>img {
    height: 335px;
    width: 280px;
    margin-top: 80px;
}